basin-pool-inventory/ghl-automation/Complete-Template-Workflow.json
{
  "name": "GHL → ClickUp Complete Template",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ghl-client-onboarding",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "webhook",
      "name": "GHL Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "client_name",
              "name": "clientName",
              "value": "={{ $json.body.first_name }} {{ $json.body.last_name }}",
              "type": "string"
            },
            {
              "id": "company_name", 
              "name": "companyName",
              "value": "={{ $json.body.company_name }}",
              "type": "string"
            },
            {
              "id": "location_id",
              "name": "locationId", 
              "value": "={{ $json.body.location.id }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "task",
        "operation": "create",
        "team": "9014034476",
        "space": "90140073497",
        "folderless": true,
        "list": "901400176579",
        "name": "{{ $json.clientName }} | {{ $json.companyName }}",
        "additionalFields": {
          "content": "Complete GoHighLevel sub-account onboarding following the 16-step process\\n\\nClient: {{ $json.clientName }}\\nCompany: {{ $json.companyName }}\\nLocation ID: {{ $json.locationId }}",
          "status": "backlog"
        }
      },
      "id": "create-main-task",
      "name": "Create Main Task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [600, 300],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "UMkwi1iF37160V8l",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst mainTaskId = $('Create Main Task').item.json.id;\n\nconst subtasks = [\n  {\n    name: \"1. Integrations\",\n    priority: 2, // high\n    assignees: [44353525, 44371660],\n    time_estimate: 7200000,\n    parent: mainTaskId\n  },\n  {\n    name: \"2. Website Setup\",\n    priority: 1, // urgent\n    assignees: [44353525, 44371660],\n    time_estimate: 1209600000,\n    parent: mainTaskId\n  },\n  {\n    name: \"3. Phone System - A2P Registration\",\n    priority: 1, // urgent\n    assignees: [44371660],\n    time_estimate: 259200000,\n    parent: mainTaskId\n  },\n  {\n    name: \"4. Pipelines Setup\",\n    priority: 3, // normal\n    assignees: [44353525],\n    time_estimate: 86400000,\n    parent: mainTaskId\n  },\n  {\n    name: \"5. Custom Field Folders\",\n    priority: 3, // normal\n    assignees: [44353525],\n    time_estimate: 3600000,\n    parent: mainTaskId\n  },\n  {\n    name: \"6. Custom Value Folders\",\n    priority: 3, // normal\n    assignees: [44353525],\n    time_estimate: 1800000,\n    parent: mainTaskId\n  },\n  {\n    name: \"7. Forms/Surveys Creation\",\n    priority: 2, // high\n    assignees: [44353525],\n    time_estimate: 7200000,\n    parent: mainTaskId\n  },\n  {\n    name: \"8. Custom Values + Trigger Links\",\n    priority: 3, // normal\n    assignees: [44353525],\n    time_estimate: 3600000,\n    parent: mainTaskId\n  },\n  {\n    name: \"9. Add Users to Sub-Account\",\n    priority: 1, // urgent\n    assignees: [44353525, 44371660],\n    time_estimate: 3600000,\n    parent: mainTaskId\n  },\n  {\n    name: \"10. Calendar Setup (Service Calendars)\",\n    priority: 2, // high\n    assignees: [44353525],\n    time_estimate: 7200000,\n    parent: mainTaskId\n  },\n  {\n    name: \"11. Estimate & Invoice Settings\",\n    priority: 2, // high\n    assignees: [44353525, 44371660],\n    time_estimate: 86400000,\n    parent: mainTaskId\n  },\n  {\n    name: \"12. Automations + Tag Setup\",\n    priority: 2, // high\n    assignees: [44353525],\n    time_estimate: 259200000,\n    parent: mainTaskId\n  },\n  {\n    name: \"13. Sales Dashboard Setup\",\n    priority: 3, // normal\n    assignees: [44353525],\n    time_estimate: 7200000,\n    parent: mainTaskId\n  },\n  {\n    name: \"14. Custom Reports\",\n    priority: 3, // normal\n    assignees: [44353525],\n    time_estimate: 3600000,\n    parent: mainTaskId\n  },\n  {\n    name: \"15. Domain Setup\",\n    priority: 3, // normal\n    assignees: [44353525, 44371660],\n    time_estimate: 3600000,\n    parent: mainTaskId\n  },\n  {\n    name: \"16. Email System Setup\",\n    priority: 2, // high\n    assignees: [44353525, 44371660],\n    time_estimate: 7200000,\n    parent: mainTaskId\n  }\n];\n\nreturn subtasks.map(subtask => ({ json: subtask }));"
      },
      "id": "prepare-subtasks",
      "name": "Prepare 16 Subtasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "task",
        "operation": "create",
        "team": "9014034476",
        "space": "90140073497",
        "folderless": true,
        "list": "901400176579",
        "name": "={{ $json.name }}",
        "additionalFields": {
          "status": "backlog",
          "assignees": "={{ $json.assignees }}",
          "priority": "={{ $json.priority }}",
          "time_estimate": "={{ $json.time_estimate }}",
          "parent": "={{ $json.parent }}"
        }
      },
      "id": "create-subtasks",
      "name": "Create Subtasks",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [1000, 300],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "UMkwi1iF37160V8l",
          "name": "ClickUp account"
        }
      }
    }
  ],
  "connections": {
    "GHL Webhook": {
      "main": [[{"node": "Extract Data", "type": "main", "index": 0}]]
    },
    "Extract Data": {
      "main": [[{"node": "Create Main Task", "type": "main", "index": 0}]]
    },
    "Create Main Task": {
      "main": [[{"node": "Prepare 16 Subtasks", "type": "main", "index": 0}]]
    },
    "Prepare 16 Subtasks": {
      "main": [[{"node": "Create Subtasks", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}