basin-pool-inventory/ghl-automation/fixed-workflow.json
{
  "name": "GHL → ClickUp Client Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ghl-client-onboarding",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "ghl-webhook",
      "name": "GHL Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "clientName",
              "value": "={{ $json.contact?.name || $json.name || $json.client_name || 'New Client' }}"
            },
            {
              "name": "clientEmail",
              "value": "={{ $json.contact?.email || $json.email || '' }}"
            },
            {
              "name": "clientPhone",
              "value": "={{ $json.contact?.phone || $json.phone || '' }}"
            },
            {
              "name": "subAccountId",
              "value": "={{ $json.locationId || $json.sub_account_id || '' }}"
            },
            {
              "name": "ein",
              "value": "={{ $json.ein || $json.business_ein || '' }}"
            },
            {
              "name": "supportEmail",
              "value": "={{ $json.support_email || $json.business_email || '' }}"
            },
            {
              "name": "assigneeId",
              "value": "88411788"
            }
          ]
        }
      },
      "id": "extract-client-data",
      "name": "Extract Client Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 300]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "list",
        "operation": "create",
        "team": "90140073497",
        "space": "90140073497",
        "folderless": true,
        "name": "{{ $json.clientName }} - GHL Sub-Account Setup",
        "content": "Complete GoHighLevel sub-account setup following the chronological checklist. Sub-Account ID: {{ $json.subAccountId }}"
      },
      "id": "create-project-list",
      "name": "Create Project List",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "jsCode": "const clientData = $input.first().json;\n\nconst tasks = [\n  {\n    name: \"1. Integrations\",\n    content: `**INTEGRATIONS SETUP**\\n\\n• Google Business Profile\\n• Facebook Ads\\n• Google Ads\\n• QuickBooks\\n• Payment Process\\n• 3rd Party Apps\\n\\nClient: ${clientData.clientName}\\nSub-Account: ${clientData.subAccountId}`\n  },\n  {\n    name: \"2. Website\",\n    content: `**WEBSITE SETUP**\\n\\n• Landing Page\\n• Standard Terms and Conditions\\n• Standard Privacy Policy\\n• Domain Setup\\n\\nResource: How to use the Domain Connect feature\\n\\nClient: ${clientData.clientName}`\n  },\n  {\n    name: \"3. Phone System\",\n    content: `**PHONE SYSTEM & A2P REGISTRATION**\\n\\n• A2P Registration\\n• Need EIN: ${clientData.ein || 'COLLECT FROM CLIENT'}\\n• Need Support Email: ${clientData.supportEmail || 'COLLECT FROM CLIENT'}\\n\\nResource: A2P 10DLC Brand Approval Best Practices\\n\\nClient: ${clientData.clientName}`\n  },\n  {\n    name: \"4. Pipelines\",\n    content: `**PIPELINE SETUP**\\n\\n⚠️ PRESENT EXACT PIPELINES AND SEE WHAT DIFFERENCES THE CLIENT LIKES\\n\\nMake sure to include all numbers for chronological order\\n\\nClient: ${clientData.clientName}`\n  },\n  {\n    name: \"5. Custom Field Folders\",\n    content: `**CUSTOM FIELD FOLDERS**\\n\\n• New Project Questionnaire (Intake)\\n• Qualification Questionnaire\\n• On-Site Consultation Questionnaire\\n• Design Questionnaire\\n• Pre-CW Questionnaire\\n• Post-CW Questionnaire\\n\\nClient: ${clientData.clientName}`\n  },\n  {\n    name: \"6. Custom Value Folders\",\n    content: `**CUSTOM VALUE FOLDERS**\\n\\n• Calendar Links\\n• Form/Survey Links\\n\\nClient: ${clientData.clientName}`\n  },\n  {\n    name: \"7. Forms/Surveys\",\n    content: `**FORMS & SURVEYS**\\n\\n• Calendar Forms\\n• Qualification Forms (based on client's qualification process)\\n• On-Site Consultation\\n• Shakedown/Project Prep Meeting\\n• Pre-Construction Walkthrough\\n• Post-Construction Walkthrough\\n• Project Photoshoot Checklist\\n\\nClient: ${clientData.clientName}`\n  },\n  {\n    name: \"8. Custom Values + Trigger Links\",\n    content: `**CUSTOM VALUES & TRIGGER LINKS**\\n\\n• Save surveys as custom values\\n• Save custom values as trigger links with UTM parameters\\n• Format: ?contact_id={{contact.id}}\\n• Example: {{custom_values.landscaping_job_outcome_survey}}?contact_id={{contact.id}}\\n\\nClient: ${clientData.clientName}`\n  },\n  {\n    name: \"9. Add Users\",\n    content: `**ADD USERS TO SUB-ACCOUNT**\\n\\n• Add owner\\n• Add all users to sub-account BEFORE creating calendars\\n• COLLECT ALL CONTACTS + PHONE + EMAIL\\n\\n⚠️ Must complete before creating calendars\\n\\nClient: ${clientData.clientName}`\n  },\n  {\n    name: \"10. Calendars\",\n    content: `**CALENDAR SETUP**\\n\\nSet up as service calendars. Create calendar groups first, then add calendars with different colors.\\n\\n**Calendar Groups:**\\n• Consultation Calendar Group\\n• Construction Calendars Group\\n\\n**Calendars:**\\n• On-Site Consultation (Light Blue)\\n• On-Site Project Presentation (Dark Green)\\n• Pre-Construction Walkthrough (Dark Red)\\n• Post-Construction Walkthrough (Purple)\\n• Project Photoshoot (Dark Blue)\\n\\nClient: ${clientData.clientName}`\n  },\n  {\n    name: \"11. Estimate & Invoice Settings\",\n    content: `**PAYMENT PROCESSING SETUP**\\n\\n• Setup Stripe account if needed\\n• Connect payment processor\\n• Turn auto invoice on\\n\\nClient: ${clientData.clientName}`\n  },\n  {\n    name: \"12. Automations + Tag Setup\",\n    content: `**AUTOMATION WORKFLOWS**\\n\\n• Sales Automations\\n• Job Management\\n• Project Stacking\\n• Review Management\\n• Schedule Review Post in Social Planner\\n\\nClient: ${clientData.clientName}`\n  },\n  {\n    name: \"13. Dashboards\",\n    content: `**SALES DASHBOARD SETUP**\\n\\n• Top Row: Opportunity Status, Value, Conversion Rate\\n• Second Row: Sales Funnel\\n• Third Row: Lead Source Report\\n• Fourth Row: GBP\\n• Fifth Row: Facebook + PPC Reporting\\n• Sixth Row: Sales Efficiency\\n\\nResources:\\n• How to Edit a dashboard\\n• Edit widgets on the dashboard\\n\\nClient: ${clientData.clientName}`\n  },\n  {\n    name: \"14. Custom Reports\",\n    content: `**CUSTOM REPORTING**\\n\\n• Create and schedule reports\\n\\nResource: How to create and schedule reports\\n\\nClient: ${clientData.clientName}`\n  },\n  {\n    name: \"15. Domain Setup\",\n    content: `**DOMAIN CONFIGURATION**\\n\\n• Connect existing domain OR\\n• Buy new domain\\n\\nResources:\\n• How to use the Domain Connect feature\\n• How to Purchase Domain Step by Step\\n\\nClient: ${clientData.clientName}`\n  },\n  {\n    name: \"16. Email System\",\n    content: `**EMAIL INFRASTRUCTURE**\\n\\n• G Suite Setup\\n• Dedicated Subdomain Setup\\n\\nResource: How to Set Up a Dedicated Sending Domain\\n\\nClient: ${clientData.clientName}`\n  }\n];\n\nreturn tasks.map(task => ({\n  json: {\n    ...task,\n    clientData\n  }\n}));"
      },
      "id": "prepare-all-tasks",
      "name": "Prepare All Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "task",
        "operation": "create",
        "team": "90140073497",
        "space": "90140073497",
        "list": "={{ $('Create Project List').item.json.id }}",
        "name": "={{ $json.name }}",
        "content": "={{ $json.content }}",
        "status": "to do",
        "assignees": ["88411788"]
      },
      "id": "create-task",
      "name": "Create Task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "GHL Webhook": {
      "main": [[{"node": "Extract Client Data", "type": "main", "index": 0}]]
    },
    "Extract Client Data": {
      "main": [[{"node": "Create Project List", "type": "main", "index": 0}]]
    },
    "Create Project List": {
      "main": [[{"node": "Prepare All Tasks", "type": "main", "index": 0}]]
    },
    "Prepare All Tasks": {
      "main": [[{"node": "Create Task", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}